.repair {
  width: 28px;
  height: 28px;
}
.info {
  line-height: 1.5;
  margin: 16px 0;
  color: rgb(var(--color-typography-200));
}
.btn {
  background-color: rgb(215, 49, 51)!important;
  &:disabled {
    background-color: rgb(215, 49, 51, 0.5)!important;
  }
}
.confirmContent {
  padding-bottom: 40px;
}
.confirmIcon {
  color: rgb(215, 49, 51);
  text-align: center;
}
.confirmText {
  font-size: 16px;
  text-align: center;
  padding: 16px 0;
  line-height: 1.5;
}
