.more {
  position: relative;
  width: 32px;
  height: 32px;

  .menu {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 10;
    width: 120px;
    padding: 12px 0;
    display: none;
    background-color: rgb(var(--color-background-0));
    border-radius: var(--radius);
    box-shadow: 0 2px 8px rgb(var(--color-background-700));

    .menuItem {
      display: flex;
      align-items: center;
      column-gap: 8px;
      height: 36px;
      line-height: 36px;
      padding: 0 12px;

      &:hover {
        background-color: rgb(var(--color-background-200));
      }
    }
  }

  &:hover .menu {
    display: block;
    animation: global(animate-fade-in) .25s linear;
  }
}