.wrapper {
  padding: 20px 16px 0 16px;
}

.accountTitle {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.metadata {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  .logo {
    width: 56px;
    height: 56px;
  }

  .url {
    font-size: 16px;
  }

  .description {
    color: rgb(var(--color-typography-500));
  }
}

.permission {
  .permissionItem {
    display: flex;
    column-gap: 8px;
    height: 40px;
    align-items: center;
  }
}
