.wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand {
  font-size: 28px;
  font-weight: 700;
  padding: 16px 0;
}
.desc {
  font-size: 16px;
  color: rgb(var(--color-typography-500));
}
.bottom {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
}
